
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* big */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600');

.navBar {
 background:#519872;
 height: 10vh;
color: white;
margin: 0px;
padding-left:25%;
padding-top: 2vh;
font-size: 36px;
}

body {
	font-family: 'Source Sans Pro', sans-serif;
  background-color: #afd4c0;
}


.content {
 width: 50%;
 margin: auto; 
 background-color: #e5f4ec;
 margin-top: 0px;
 height: 100vh;
 font-size: 50px;
 
}

.dash {
	padding: 10px 15px;
	display:flex;
	font-weight: 600;
	justify-content: space-between;
	align-items: center;
	border-bottom: 2px solid black;

} 

.content button {
	background-color: #8aea92;
	padding: 10px;
	border: none;
	border-radius: 10px;
	font-size: 16px;
}

.house button {
	background-color: #fff;
}

.subContainer {
	display: flex;
	justify-content: space-between;
	align-items: center;
}













